/* Start Sass Componants */
$mainColor: #A9D7E4;
$secondaryColor: #f58787;
/* Mixins */
@mixin shadow ($s1 , $s2 , $s3 , $c) {
	-webkit-box-shadow: $s1 $s2 $s3 $c;
	-moz-box-shadow: $s1 $s2 $s3 $c;
	-o-box-shadow: $s1 $s2 $s3 $c;
	box-shadow: $s1 $s2 $s3 $c;
}
/* End Sass Componants */

/* Start Main Rules */
body {
	font-family: 'Noto Sans' , 'arial' , 'sans';
	background-color: #212427;
}
/* End Main Rules */

/* Start Nav Bar Style */
.nav-bar {
	.navbar-dark {
		@include shadow(0, 2px, 30px, #444);
		.navbar-brand {
			span {
				color: $secondaryColor;
				font-size: 30px;
				font-weight: bold;
				&:last-of-type {
					color: $mainColor;
					font-weight: normal;
					font-size: 25px;
				}
			}
		}
		.navbar-nav {
			.nav-link {
				color: $mainColor;
				margin-left: 5px;
			}
			.active > .nav-link {
				color: $secondaryColor;
			}
		}
	}
}
/* End Nav Bar Style */

/* Start Data Section Style */
.data {
	.card {
		background-color: #343A40;
    width: 40% !important;
    position: absolute;
    top: 50%;
    left: 50%;
		transform: translate(-50%, -50%);
		ul {
			li {
				font-size: 20px;
				color: $mainColor;
				span {
					color: $secondaryColor;
					margin-right: 15px;
					i {
						margin-right: 5px;
						color: $secondaryColor;
					}
				}
			}
		}
	}
}
/* End Data Section Style */
